.song-editor {
    padding: 1rem;
}

.song-info {
    display: flex;
    flex-direction: column;
}

.song-info h1 {
    cursor: pointer;
    user-select: none;
    width: fit-content;
}

.song-info label {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.song-info input, .section-title {
    padding: 1rem;
    width: 50%;
    border: solid grey 1;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.song-source {
    display: flex;
    flex-direction: column;
}

.song-source h1 {
    margin-bottom: 0rem;
}

.song-source p {
    margin-top: 0rem;
}

.song-source textarea {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.song-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.section-title-container {
    min-width: 3vw;
    width: fit-content;
}

.section-title {
    width: 80%;
    padding: .25rem;
    font-size: 2rem;
}

.song-line {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.song-word {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 1vw .5vw;
    min-width: 3vw;
}

.in-between-block {
    margin: 1vw .5vw;
    min-width: 3vw;
} 

.chord-block {
    background-color: #c4c4c4;
}

.export-actions {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}
