.song-info {
    display: flex;
    flex-direction: column;
}

.song-info h1 {
    cursor: pointer;
    user-select: none;
    width: fit-content;
}

.song-info label {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.song-info input {
    padding: 1rem;
    width: 50%;
    border: solid grey 1;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

.song-source {
    display: flex;
    flex-direction: column;
}

.song-source h1 {
    margin-bottom: 0rem;
}

.song-source p {
    margin-top: 0rem;
}

.song-source textarea {
    width: 100%;
    height: 300px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}

.song-source button {
    width: fit-content;
    align-self: flex-end;
    background-color: white;
    border-radius: 12rem;
    cursor: pointer;
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
}