.navbar-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
}

.burger {
    cursor: pointer;
}

.menu {
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 1.25rem;
    position: absolute;
    top: 4rem;
    right: 0;
}

.menu-item {
    text-align: right;
    padding: 1.5rem 2rem;
    text-decoration: none;
    background-color: white;
    color: black;
}

.menu-item:hover {
    background-color: lightgray;
}